{% extends "base.html" %}
{% load static %}

{% block title %}Registration{% endblock %}
{% block content %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<div class="grid-x grid-padding-x">
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">

    <form action="/register/" method="post">
        {% csrf_token %}
        <h2 class="text-center">Register</h2>
        {{ form.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Register" />
    </form>
  </div>
</div>
{% endblock %}
