{% extends "base.html" %}
{% load static %}

{% block content %}
<br>

<div id="grad">
	<center>
		<h1>
			<p class="solid">
				<i class="material-icons" style="font-size:60px;color:white;">cloud</i>
				{{ variable }}
				<i class="material-icons" style="font-size:60px;color:white;">cloud</i>
			</p>
		</h1>
	</center>
</div>

{% if user.is_authenticated %}
<a href="/logout/" class="button">Logout</a>
{% endif %}

<div id="app-4">
<span v-if="seen">
		<ul>
			{% for inp in some_list %}
				<li>{{ inp }}</li>
			{% endfor %}
		</ul>
</span> 
<span v-if="unseen">
		<ul>
			<li v-for="inp in inputs">
				{% verbatim %}
				{{ inp.input }}
				{% endverbatim %}
			</li>
		</ul>
</div>
</span> <!-- Goes after div-->

{% if user.is_authenticated %}
<form action="/" method="post">
	{% csrf_token %}
	{{ form }}
	<p class="help-text" id="buttonHelper">Fill in the field above.</p>
	<input type="submit" class="success button" value="Submit">
</form>

<!--
<ul>
    {% for num in value_list %}
        <li class="button button1">{{ num }}</li>
    {% endfor %}
</ul>

<ul>
    {% for user_input in some_list %}
        <li class="button">{{ user_input }}</li>
    {% endfor %}
</ul>

<form action="/" method="post">
	{% csrf_token %}
	{{ form }}
	<p class="help-text" id="buttonHelper">Fill in the field above.</p>
	<input type="submit" class="success button" value="Submit">
</form>

Template variables client-side with vuejs
Template lang. pretty much identical

Below code is saying, "Don't consider this a 
template variable, do this exactly as I describe it"

Goal of JavaScript is to dynamically generate
documents, you know- objects on the fly, or modify
existing objects in the document object model
through the JavaScript code.
Programmatically change what the document is through
basically the use of the HTML model itself.
So by attaching in the div object an id of "app", your
vuejs code can use that document object with this id
to look for, in this case, a data element that equals
message and put a value inside of it

Go to console for interactions with JavaScript, assignment 5

Loop through and render in code
-->
<div id="app">
	{% verbatim %}
	{{message}}
	{% endverbatim %}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}