{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="grad">
	<center>
		<h1>
			<a href="{% url 'main-page' %}">{{ variable }}</a>
		</h1>
	</center>
</div>

Main page
<br>

<!--Divides page up 75%-->
<div class="class1">
{% if user.is_authenticated %}
<a href="{% url 'play-page' %}">
<button class="button button1">Play</button>
</a>

<a href="{% url 'deck-page' %}">
<button class="button button1">Decks</button>
</a>

<a href="{% url 'profile-page' %}">
<button class="button button1">Profile</button>
</a>

<a href="/logout/" class="button">Logout</a>
{% else %}
<a href="/login/" class="button">Login</a>
{% endif %}

<br><br>

<!--Tabs and tab content-->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'HTP')" id="defaultOpen">How to Play</button>
  <button class="tablinks" onclick="openCity(event, 'Updates')">Updates</button>
</div>

<div id="HTP" class="tabcontent">
	<h3>How to Play</h3>
	<p>Instructions on how to play appear here.</p>
</div>

<div id="Updates" class="tabcontent">
  	<h3>Updates</h3>
  	<p>Updates appear here.</p>
</div>

</div>
<!--End div class1-->

<!--Divides page up 25%-->
<div class="class2">
	<center><h3>Chat Log</h3></center>
	<textarea id="chat-log" cols="100" rows="10" onkeypress="return false;"></textarea><br/>
	{% if user.is_authenticated %}
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" class="button button3" type="button" value="Send"/>
	{% endif %}
</div>
<!--End div class2-->

{% endblock %}
{% block scripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="{% static "js/myvue.js" %}"></script>
	<script src="{% static "js/page_open.js" %}"></script>
	<!--Important-->
	<script src="{% static "js/chat.js" %}"></script>
	<script src="{% static "js/chat_room.js" %}"></script>
{% endblock %}
