{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Divides page up 75%-->
<div class="class1">
	{% if user.is_authenticated %}
	<!--IS AUTH-->

	<!--Displays a valid list of opponents the user can challenge-->
	{{ fields }}

	{% endif %}
	<!--END AUTH-->

	<!--Tabs and tab content-->
	<div class="tab nav nav-tabs">
		<!--Opens by default-->
		<button class="tablinks nav-item" onclick="openTab(event, 'Play')" id="defaultOpen" style="outline:0;">Play the
			Game</button>
		<button class="tablinks nav-item" onclick="openTab(event, 'HTP')" style="outline:0;">How to Play</button>
		<button class="tablinks nav-item" onclick="openTab(event, 'Updates')" style="outline:0;">Updates</button>
	</div>

	<div id="Play" class="tabcontent" style="position: relative;">
		<h3>Play the Game</h3>

		{% if user.is_authenticated %}
		<!--IS AUTH-->

		<div id="app-6">
			<span v-if="seen">
				<div class="card border-secondary mb-3" style="max-width: 20rem; display:inline-block;">
					<div class="card-header">Last Player's Deck You Used</div>
					<div class="card-body">
						{{ challenge_from }}
					</div>
				</div>
			</span>

			<span v-if="unseen">
				<div class="card border-secondary mb-3" style="max-width: 20rem; display:inline-block;">
					<div class="card-header">Last Player's Deck You Used</div>
					<div v-for="inp in user_from_challenge" class="card-body">
						[[inp.user_from]] combined their deck "[[inp.user_from_deck]]" with [[inp.user_to]]'s deck
						"[[inp.user_to_deck]]"
					</div>
				</div>
			</span>
		</div>

		<div id="app-7">
			<span v-if="seen">
				<div class="card border-secondary mb-3" style="max-width: 20rem; display:inline-block;">
					<div class="card-header">Last Player Who Used Your Deck</div>
					<div class="card-body">
						{{ challenge_to }}
					</div>
				</div>
			</span>

			<span v-if="unseen">
				<div class="card border-secondary mb-3" style="max-width: 20rem; display:inline-block;">
					<div class="card-header">Last Player Who Used Your Deck</div>
					<div v-for="inp in user_to_challenge" class="card-body">
						[[inp.user_from]] combined their deck "[[inp.user_from_deck]]" with [[inp.user_to]]'s deck
						"[[inp.user_to_deck]]"
					</div>
				</div>
			</span>
		</div>

		<table class="tg" style="width:35%">
			<tr>
				<th class="tg-rpls">Player</th>
				<th class="tg-rpls">Action</th>
			</tr>

			<!--TEMPLATE-->
			{% for player in values %}
			<tr>
				<td class="tg-0lax">{{ player }}</td>
				<td class="tg-0lax">
					<a href="{% url 'p_view' player %}">
						<button type="button" class="btn btn-success">Combine Decks</button>
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>

		{% else %}
		<!--END AUTH-->
		<p>Register or login to play the game.</p>
		<a href="/register/" class="btn btn-success">Register</a>
		<a href="/login/" class="btn btn-primary">Login</a>
		{% endif %}
	</div>

	<div id="HTP" class="tabcontent">
		<h3>How to Play</h3>
		<ol>
			<li>
				First, create a deck of your own in order to play the game.
				Ensure you've done so by logging in and clicking on "Decks" button in
				the Navigation bar. Then, navigate to the "Create Deck"
				tab to build your new deck.
			</li>
			<li>
				Choose your opponent from the "Play the Game" tab on the home page.
			</li>
			<li>
				Choose both one deck of your own and one deck of your opponent to combine.
			</li>
			<li>
				You'll be taken to the game page where you'll need to flip cards to
				find matches. Finding all ten matches wins the game.
			</li>
			<li>
				From here, you can either play with the deck of the same opponent again, or
				return to the home page and choose another opponent's deck to play with.
			</li>
		</ol>
	</div>

	<div id="Updates" class="tabcontent">
		<h3>Developer Updates</h3>
		{% for dev_post in dev_posts %}
		<table class="tg" style="width:40%">
			<tr>
				<td>
					<h4>{{ dev_post.title }}</h4>
					Author: {{ dev_post.m_author }}
				</td>
			</tr>
			<tr>
				<td>{{ dev_post.post }}</td>
			</tr>

		</table>
		{% endfor %}
	</div>

</div>
<!--End div class1-->

<!--Divides page up 25%-->
<div class="class2">
	<br>
	<center>
		<h3 class="card text-white bg-secondary mb-3">Chat</h3>
	</center>

	<textarea id="chat-items" cols="100" rows="15" style="cursor :default" readonly>{% for input_message in input_messages %}
{{ input_message.author.username }}: {{ input_message.input }}{% endfor %}</textarea>

	{% if user.is_authenticated %}
	<form class="form-inline my-2 my-lg-0" id="form" method="post">
		<input class="form-control mr-sm-2" type='hidden' id='myUsername' value='{{ user.username }}' />
		{% csrf_token %}
		{{ form }}
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
	{% endif %}

</div>
<!--End div class2-->

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script language="JavaScript" type="text/javascript" src="{% static "js/page_open.js" %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static "js/user_from.js" %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static "js/user_to.js" %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!--Reconnecting websocket-->
<script language="JavaScript" type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script language="JavaScript" type="text/javascript">
	var wsStart = 'ws://'
	var endpoint = wsStart + window.location.host + window.location.pathname
	//var socket = new WebSocket(endpoint)
	var socket = new ReconnectingWebSocket(endpoint)

	//Preventing default form action
	var formData = $("#form")

	//Django renders form using this id (obtained from inspecting the element)
	var msgIn = $("#id_input")

	//For displaying the message that comes through from the data in the back-end
	var chatHolder = $("#chat-items")

	//Bring username in
	var me = $("#myUsername").val()

	//Client-side websocket received a message
	socket.onmessage = function (e) {
		var chatDataMsg = JSON.parse(e.data)
		chatHolder.append("\n" + chatDataMsg.username + ": " + chatDataMsg.message)
	}

	//Message the client is sending
	socket.onopen = function (e) {

		formData.submit(function (event) {
			//Prevents form from being submitted by default
			event.preventDefault()

			//Grab message data from form
			var msg = msgIn.val()

			//Send a dictionary back
			var finalData = {
				'message': msg
			}
			socket.send(JSON.stringify(finalData)) //Turns into JSON data to send

			formData[0].reset()
		})
	}

	socket.onerror = function (e) {
		console.log("error", e)
	}

	socket.onclose = function (e) {
		console.log("close", e)
	}
</script>
{% endblock %}