{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head class="head">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static "css/game.css" %}">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHI0xO_JNIJRL3cSn7wrUDuppiRcgH2IE-5IVYfaJcUVb0KxnL&s" />
</head>

<div class="details">
    <table>
        <tr>
            <td>
                Deck creator: {{ challenger.username }} (you)
            </td>
        </tr>
        <tr>
            <td>
                Deck name: {{ deck_from.deck_name }}
            </td>
        </tr>
        <tr>
            <td>
                Card 1: {{deck_from.card1}}
            </td>
        </tr>
        <tr>
            <td>
                Card 2: {{deck_from.card2}}
            </td>
        </tr>
        <tr>
            <td>
                Card 3: {{deck_from.card3}}
            </td>
        </tr>
        <tr>
            <td>
                Card 4: {{deck_from.card4}}
            </td>
        </tr>
        <tr>
            <td>
                Card 5: {{deck_from.card5}}
            </td>
        </tr>
    </table>

    <br>

    <a href="{% url 'main-page' %}">
        <button class="button">Return to Main Page</button>
    </a>
</div>

<body class="body">
    <div class="memory-game">
        <!--Row 1-->
        <div class="memory-card" data-framework="user_card_1">
            <button class="front-face red" readonly>
                <div class="text">
                    <b>{{deck_from.card1}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 1 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/all_cards1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_1">
            <button class="front-face red" readonly>
                <div class="text">
                    <b>{{deck_from.card1}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 1 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/all_cards1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_2">
            <button class="front-face orange" readonly>
                <div class="text">
                    <b>{{deck_from.card2}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 2 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_2">
            <button class="front-face orange" readonly>
                <div class="text">
                    <b>{{deck_from.card2}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 2 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_3">
            <button class="front-face yellow" readonly>
                <div class="text">
                    <b>{{deck_from.card3}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 3 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <!--Row 2-->
        <div class="memory-card" data-framework="user_card_3">
            <button class="front-face yellow" readonly>
                <div class="text">
                    <b>{{deck_from.card3}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 3 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_4">
            <button class="front-face yellowgreen" readonly>
                <div class="text">
                    <b>{{deck_from.card4}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 4 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_4">
            <button class="front-face yellowgreen" readonly>
                <div class="text">
                    <b>{{deck_from.card4}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 4 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_5">
            <button class="front-face green" readonly>
                <div class="text white">
                    <b>{{deck_from.card5}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 5 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="user_card_5">
            <button class="front-face green" readonly>
                <div class="text white">
                    <b>{{deck_from.card5}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 5 from your deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <!--Row 3-->
        <div class="memory-card" data-framework="opp_card_1">
            <button class="front-face elecblue" readonly>
                <div class="text">
                    <b>{{deck_to.card1}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 1 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_1">
            <button class="front-face elecblue" readonly>
                <div class="text">
                    <b>{{deck_to.card1}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 1 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_2">
            <button class="front-face lightblue" readonly>
                <div class="text">
                    <b>{{deck_to.card2}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 2 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_2">
            <button class="front-face lightblue" readonly>
                <div class="text">
                    <b>{{deck_to.card2}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 2 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_3">
            <button class="front-face oceanblue" readonly>
                <div class="text">
                    <b>{{deck_to.card3}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 3 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <!--Row 4-->
        <div class="memory-card" data-framework="opp_card_3">
            <button class="front-face oceanblue" readonly>
                <div class="text">
                    <b>{{deck_to.card3}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 3 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_4">
            <button class="front-face purple" readonly>
                <div class="text">
                    <b>{{deck_to.card4}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 4 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_4">
            <button class="front-face purple" readonly>
                <div class="text">
                    <b>{{deck_to.card4}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 4 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_5">
            <button class="front-face rose" readonly>
                <div class="text white">
                    <b>{{deck_to.card5}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 5 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
        <div class="memory-card" data-framework="opp_card_5">
            <button class="front-face rose" readonly>
                <div class="text white">
                    <b>{{deck_to.card5}}</b>
                    <br>
                    <br>
                    <br>
                    <small>
                        (card 5 from {{ opponent.username }}'s deck)
                    </small>
                </div>
            </button>
            <img class="back-face" src="{% static "images/cb1.png" %}" />
        </div>
    </div>

    <div class="details">
        <table>
            <tr>
                <td>
                    Deck creator: {{ opponent.username }}
                </td>
            </tr>
            <tr>
                <td>
                    Deck name: {{ deck_to.deck_name }}
                </td>
            </tr>
            <tr>
                <td>
                    Card 1: {{deck_to.card1}}
                </td>
            </tr>
            <tr>
                <td>
                    Card 2: {{deck_to.card2}}
                </td>
            </tr>
            <tr>
                <td>
                    Card 3: {{deck_to.card3}}
                </td>
            </tr>
            <tr>
                <td>
                    Card 4: {{deck_to.card4}}
                </td>
            </tr>
            <tr>
                <td>
                    Card 5: {{deck_to.card5}}
                </td>
            </tr>
        </table>

        <br>

        <a href="/game/{{ opponent.username }}/matching/">
            <button class="button">Replay Player</button>
        </a>
    </div>

    <script language="JavaScript" type="text/javascript" src="{% static "js/cards.js" %}"></script>

</body>

</html>