{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="grad">
	<center>
		<h1>
			<a href="http://localhost:8000">{{ variable }}</a>
		</h1>
	</center>
</div>

User profile
<br>

<a href="http://localhost:8000/play/">
<button class="button button1">Play</button>
</a>

<a href="http://localhost:8000/decks/">
<button class="button button1">Decks</button>
</a>


<div class="card">
  <img src="images/user.jpg" alt="Profile Pic" style="width:100%">
  <h1>Ryan Winn</h1>
  <a24>Player ID: 93852</a24>
  <a24>email: blah@gmail.com</a24>
	<a24>username: tacos123</a24>
	<a24>password: pikachu</a24>
</div>

{% endblock %}
{% block scripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
