{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Edit Deck</h2>
<form method="POST">
	{% csrf_token %}
	<fieldset class="form-group">
		{{ form }}
	</fieldset>
	<div class="form-group">
		<button class="btn btn-success" type="submit">Confirm</button>
		<a href="{% url 'deck-page' %}">
			<button type="button" class="btn btn-danger">Cancel</button>
		</a>
	</div>
</form>

{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}